@using WebCV.Application.Modules.PersonSkillsModule.Queries.PersonSkillGetAllQuery
@using WebCV.Domain.Models.Stables
@model IEnumerable<PersonSkillGetAllRequestDto>


<div class="panel-group accordion" id="accordion" style="padding-top: 20px; padding-right: 20px; padding-left: 20px;">
    @{
        var index = 0; // Initialize a counter for unique IDs
    }
    @foreach (var item in Model)
    {
        if (item.Mode == DisplayMode.ProgressBar)
        {
            var collapseId = $"collapse-{index++}";

            <div class="panel panel-default">
                <div class="row">
                    <div class="col-sm-4">
                        <!-- PANEL HEADING -->
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#@collapseId" class="collapsed">
                                    @item.SkillName
                                </a>
                            </h4>
                        </div>
                    </div>

                    <!-- Skills Bars -->
                    <div class="col-sm-8">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="@item.Percentage" aria-valuemin="0" aria-valuemax="100" style="width: @item.Percentage%;"> <span class="sr-only">60% Complete</span> </div>
                        </div>

                        <!-- Skills Text -->
                        <div id="@collapseId" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>@item.Bio</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    }
</div>

