@model WebCV.Presentation.ViewModels.PortfolioViewModels.PortfolioViewModel
@{
    ViewData["Title"] = "Portfolio";
}

<!-- PORTFOLIO -->
            
<!-- MAIN NAV -->
            
<div class="inside-sec"> 
    <!-- BIO AND SKILLS -->
    <h5 class="tittle">PORTFOLIO</h5>
              
    <!-- PORTFOLIO -->
    <section class="portfolio padding-top-50 padding-bottom-50"> 
        <!-- Work Filter -->
        <ul class="tabs portfolio-filter text-center margin-bottom-30">
            <li class="filter active" data-filter="all">ALL</li>
            @foreach (var category in Model.Categories)
            {
                <li class="filter" data-filter=".@category">@category</li>
            }
        </ul>
                      
        <!-- PORTFOLIO ITEMS -->
        <div id="Container" class="item-space row col-3">
            @foreach (var project in Model.Projects)
            {
                <article class="portfolio-item mix @project.CategoriesClass" style="display: inline-block;" data-bound="">
                    <div class="portfolio-image">
                        <a href="@project.Url"> <img class="img-responsive" alt="Open Imagination" src="@project.ImagePath"> </a>
                        <div class="portfolio-overlay style-4">
                            <div class="detail-info">
                                <div class="position-center-center">
                                    <h3 class="no-margin">@project.ProjectName</h3>
                                    <span><a href="#.">Fashion / trending</a></span> <a href="#" class="go"><i class="fa fa-search"></i></a> <a href="@project.Url" class="go"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            }
        </div>
    </section>
</div>

